{
  "env": {
    "dev": {
      "plugins": ["add-react-displayname"]
    },
    "test": {
      "plugins": ["add-react-displayname"],
      "presets": [
        ["@babel/preset-env", { "targets": { "node": "16" } }],
        "@babel/preset-react"
      ]
    }
  }
}